
<div id="particles-js"></div>

<script src="particles.js"></script>

<div class="sticky-top">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Présentation", "#", class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Réalisations", "#", class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Compétences", "#", class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Parcours", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "#", class: "nav-link" %>
           </li>
           <li class="nav-item">
          <%= link_to "Mon cv", "#", class: "nav-link" %>
           </li>

          </div>
        </li>

      </ul>

    </div>

  </div>
</div>



<!-- -------------------------------------- -->
<!-- If you don't see it u probably are using a browser not based on webkit, so leave IE and grab anything else (Y) -->
<!-- UPDATE: works in Chrome & Safari, not Firefox. To solve that you could use an SVG insted of pure text. -->

<!-- --------HEAD------------------------ -->

    <div class="container head">
      <div class="title">
      Développeur Web</div>
      <div class="subtitle">Full-stack || Ruby on rails </div>
    </div>


<!-- -----------END------------------------- -->

<!-- ------------Presentation--------------------- -->

<section id="présentation" class="module">

  <div class="container">
    <div class="module-header">
      <h2 class="module-title">
      <span>Qui suis-je?</span>
      PRÉSENTATION</h2>
    </div>
  </div>
  <div class="module-line"></div>
</section>


<div class="container FIRST  ">

  <div class="row">
   <div class="col">
    <img  src="https://kitt.lewagon.com/placeholder/users/krokrob" alt="..." class="rounded-circle">

      </div>

     <p class="lead">

<div class="col text ">
      <strong>Autodidacte</strong> durant plus d’un an dans l’e-commerce, j’ai appris à mettre en place et à gérer un site sous PRESTASHOP.

      Suite à cette expérience, j’ai souhaité m’orienter plus profondément dans le monde de la tech.
       C'est pourquoi j'ai décidé de faire la formation du Wagon et de devenir <strong>développeur web </strong><i>freelance </i>afin de pouvoir aider les gens à donner vie à leurs projets.

    <br>
       <strong>Le code est devenu aujourd'hui une passion</strong>
     </p>

  </div>
    </div>
</div>
<!-- -----------END------------------------- -->


<!-- ------------Réalisation--------------------- -->

<section id="realisation" class="module">

  <div class="container">
    <div class="module-header">
      <h2 class="module-title">
      <span>PORTFOLIO</span>
      RÉALISATIONS</h2>
    </div>
  </div>
  <div class="module-line"></div>

  <div class="container">
      <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">BLOg</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">PORTFOLIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">PROJET LE WAGON</a>
    </li>

  </ul>

    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Portofolio
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
       Spactrip
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "Projet1.jpg" %>')">
        Surelytics
      </div>
  </div>
</div>
</section>


<!-- -----------END------------------------- -->


<!-- ------------Services--------------------- -->

<section id="Services" class="module">

  <div class="container">
    <div class="module-header">
      <h2 class="module-title">
      <span>SAVOIR ÊTRE</span>
      SERVICES</h2>
    </div>
  </div>
  <div class="module-line"></div>
</section>

<!-- -----------END------------------------- -->

<!-- ------------Compétences--------------------- -->

<section id="Compétences" class="module">

  <div class="container">
    <div class="module-header">
      <h2 class="module-title">
      <span>SAVOIR FAIRE</span>
      COMPÉTENCES</h2>
    </div>
  </div>
  <div class="module-line"></div>
</section>

<!-- -----------END------------------------- -->

<!-- ------------Parcours--------------------- -->

<section id="Parcours" class="module">

  <div class="container">
    <div class="module-header">
      <h2 class="module-title">
      <span>FORMATION</span>
      PARCOURS</h2>
    </div>
  </div>
  <div class="module-line"></div>
</section>

<!-- -----------END------------------------- -->


<!-- ------------Contact--------------------- -->

<section id="Contact" class="module">

  <div class="container">
    <div class="module-header">
      <h2 class="module-title">
      <span>CONTACTER</span>
      DEMARRONS UN PROJET ENSEMBLE , N'HESITEZ PAS À ME CONTACTER</h2>
    </div>
  </div>
  <div class="module-line"></div>
</section>

<!-- -----------END------------------------- -->


